* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

a{
    text-decoration: none;
    color: #271215;
}

header {
    background-color: #6b8e23;
    padding: 8px;
    border-bottom: 2px solid #271215;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #271215;
}

header li{
    list-style-type: none;
}

header a {
    font-size: 16px;
    padding-left: 16px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section {
    padding-top: 40px;
}

section h2 {
    padding-bottom: 12px;
    border-bottom: 2px solid #271215;
    color: #6b8e23;
    margin-bottom: 1.5em;
}

.sobre-a-loja {
    display: flex;
}

.sobre-a-loja img{
    padding-right: 16px;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
}

.sobre-a-loja p{
    font-size: 18px;
    width: 100%;
}

.produtos{
    display: flex;
    justify-content: space-between;
}

.produto img {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 6px;
    border: 1px solid #271215;
    border-radius: 8px;
}

.produto p{
    font-size: 12px;
    font-weight: 100;
    color: #868686;
}

.produto button{
    margin-top: 8px;
    background-color: #6b8e23;
    font-size: 16px;
    padding: 4px;
    width: 100%;
    color: #fff;
    border-radius: 8px;
}

.produto button:hover {
    cursor: pointer;
}

.conteudo{
    padding-bottom: 24px;
}

@media screen and (max-width: 1023px){
    .container{
        max-width: 90%;
        margin: 0 auto;
    }

    .conteudo{
        display: block;
    }

    .sobre-a-loja{
        display: block;
    }

    .texto-sobre-a-loja{
        margin: 0;
        max-width: max-content;
        width: 100%;
    }

    .sobre-a-loja img {
        width: 100%;
        display: block;
        margin: 0 auto;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .produtos{
        display: grid;
        grid-template-columns: repeat(2, 49%);
        gap: 2%;
    }

    .produto img{
        width: auto;
        max-width: 100%;
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    .texto-produto{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    .produto a{
        display: block;
        max-width: 250px;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px){
    .produtos{
        display: grid;
        grid-template-columns: repeat(1, 98%);
        gap: 2%;
    }
}